body {
  background-color: powderblue;
  text-align: center;
}
h1 {
  color: teal;
  margin: 64px;
}
p {
  color: black;
}
#input-text {
  font-size: x-large;
}
#submit-btn{
  font-size: large;
  height: 100%;
  width: auto;
}
#input-todo{
  vertical-align: middle;
}
ul {
  list-style-type:none;
}
li{
  font-size: x-large;
}
